<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{this.group.id==0?'添加':'编辑'}}分组</ion-title>

    <ion-buttons slot="end">
      <ion-button>
        <ion-label style="font-size:large;" (click)="save()">保存</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="outer-content">
  <ion-item lines="none">
    <ion-icon name="albums-outline" slot="start" class="title-icon"></ion-icon>
    <ion-input placeholder="点击输入分组名称" [(ngModel)]="group.name" style="border-bottom:2px solid #3880ff;"></ion-input>
  </ion-item>

  <ion-item lines="none" style="margin-top:10px;">
    <ion-icon name="heart-outline" slot="start" class="title-icon"></ion-icon>
    <ion-label class="title" color="medium">选择你喜欢的图标</ion-label>
  </ion-item>
  <ion-item lines="none">
    <div style="width:100%;display:flex;justify-content:space-between;flex-wrap: wrap;">
      <div *ngFor="let ic of data.icons" style="margin:10px 0;flex: 0 0 16%;position:relative;" 
      (click)="chooseIcon(ic.name)">
        <ion-icon src="/assets/icon/{{ic.name}}.svg" [ngClass]="{'selected-icon-border':group.icon==ic.name}"
        class="icon-option"></ion-icon>
        <ion-icon name="checkmark-circle" color="success" *ngIf="group.icon==ic.name"
        class="selected-icon-checkmark"></ion-icon>
      </div>
    </div>
  </ion-item>
  <ion-item *ngIf="!iconExpanded" (click)="iconGroupChange()" lines="none">
    <ion-label class="title" style="text-align:center;font-size: large;">
      展开<ion-icon name="chevron-down-outline" style="vertical-align:middle;margin-left:5px;"></ion-icon>
    </ion-label> 
  </ion-item>
  <ion-item *ngIf="iconExpanded" lines="none">
    <ion-badge color="danger" style="border-radius:15px;padding:4px 5px;margin-right:15px;">Pro</ion-badge>
    <ion-label class="title" style="flex:inherit;margin-right:15px;">高级会员图标</ion-label>
    <ion-label class="title" style="border-top:1px solid lightgrey;"></ion-label>
  </ion-item>
  <ion-list *ngIf="iconExpanded">
    <ion-item lines="none">
      <div style="width:100%;display:flex;justify-content:space-between;flex-wrap: wrap;">
        <div *ngFor="let ic of data.proicons" style="margin:10px 0;flex: 0 0 16%;position:relative;" 
        (click)="chooseIcon(ic.name)">
          <ion-icon src="/assets/icon/{{ic.name}}.svg" [ngClass]="{'selected-icon-border':group.icon==ic.name}"
          class="icon-option"></ion-icon>
          <ion-icon name="checkmark-circle" color="success" *ngIf="group.icon==ic.name"
          class="selected-icon-checkmark"></ion-icon>
        </div>
      </div>
    </ion-item>
  </ion-list>
  <ion-item *ngIf="iconExpanded" (click)="iconGroupChange()" lines="none">
    <ion-label class="title" style="text-align:center;font-size: large;">
      收起<ion-icon name="chevron-up-outline" style="vertical-align:middle;margin-left:5px;"></ion-icon>
    </ion-label>
    
  </ion-item>

  <ion-item lines="none" style="margin-top:1px;">
    <ion-icon name="bookmark-outline" slot="start" class="title-icon"></ion-icon>
    <ion-label class="title" color="medium">选择你喜欢的封面</ion-label>
  </ion-item>

  <div style="background:white;display:grid;justify-content:center;grid-template-columns:24% 24% 24% 24%;">
    
    <div style="position:relative;align-items:center;flex-direction:column;border:1px solid lightgrey;" 
    class="group-cover"
    (click)="customCover()">
      <ion-icon name="add-outline" color="medium" size="large"></ion-icon>
      <b style="color:#92949c;">自选封面</b>
      <div class="cover-pro">Pro</div>
    </div>
    <div *ngFor="let cover of data.covers" style="position:relative;background-image:url('/assets/{{cover.name}}.jpg');" 
    [ngClass]="{'selected-cover-border':group.cover==cover.name}"
    class="group-cover"
    (click)="chooseCover(cover.name)">
      {{cover.name}}

      <ion-icon name="checkmark-circle" color="success" *ngIf="group.cover==cover.name"
      class="selected-cover-checkmark"></ion-icon>
    </div>
    
  </div>
  
  <ion-item *ngIf="!coverExpanded" (click)="coverGroupChange()" lines="none">
    <ion-label class="title" style="text-align:center;font-size: large;">
      展开<ion-icon name="chevron-down-outline" style="vertical-align:middle;margin-left:5px;"></ion-icon>
    </ion-label>        
  </ion-item>
  <div *ngIf="coverExpanded" style="background:white;display:grid;justify-content:center;grid-template-columns:24% 24% 24% 24%;">

    <div *ngFor="let cover of data.procovers" style="position:relative;background-image:url('/assets/{{cover.name}}.jpg');" 
    [ngClass]="{'selected-cover-border':group.cover==cover.name}"
    class="group-cover"
    (click)="chooseCover(cover.name)">
      {{cover.name}}

      <ion-icon name="checkmark-circle" color="success" *ngIf="group.cover==cover.name"
      class="selected-cover-checkmark"></ion-icon>
    </div>
  </div>
  <ion-item *ngIf="coverExpanded" (click)="coverGroupChange()" lines="none">
    <ion-label class="title" style="text-align:center;font-size: large;">
      收起<ion-icon name="chevron-up-outline" style="vertical-align:middle;margin-left:5px;"></ion-icon>
    </ion-label>
    
  </ion-item>
  
  <ion-item lines="none" style="margin-top:1px;">
    <ion-icon name="images-outline" slot="start" class="title-icon"></ion-icon>
    <ion-label class="title" slot="start" style="flex:none;margin-inline-end:10px;">选择背景图片</ion-label>
    <ion-badge color="danger" style="border-radius:15px;padding:4px 5px;">Pro</ion-badge>
  </ion-item>

      

  <ion-button expand="full" style="margin-top:10px;height: 56px;font-size: large;" (click)="save()">保存</ion-button>

</ion-content>
