.future-header {
    --background:#428cff;
    padding: 10px;
}

.past-header {
    --background:#ffd534;
    padding: 10px;
}

.big-text{
    font-weight: bold;
    font-size: x-large;
    margin-right:20px;
    color:black;
}

.small-text{
    font-weight: normal;
    font-size: normal;
    color:gray;
    margin-right:20px;
}