<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" (click)="close()">
      <ion-button>
        <ion-icon name="close-outline" slot="icon-only"
          *ngIf="note.title.length==0&&note.content.length==0"></ion-icon>
        <ion-icon name="arrow-back-outline" slot="icon-only"
          *ngIf="note.title.length>0||note.content.length>0"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="share-social-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="checkmark-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-note style="color:lightgray; margin:10px 20px;">{{note.date|date:'MM/dd hh:mm'}} | {{note.content.length}}字</ion-note>
  <ion-input placeholder="标题" [(ngModel)]="note.title" 
    style="font-size:x-large;margin:0 10px;--placeholder-color:lightgray;"></ion-input>
  <ion-textarea placeholder="" [(ngModel)]="note.content" [autoGrow]="true"
    style="font-size:x-large;margin:0 10px;"></ion-textarea>
</ion-content>
