.font1{
    font-weight: normal;
    font-family: "Helvetica Neue";
}

.font2{
    font-weight: normal;
    font-family: '宋体';
}


.viewer-bg{
    --background: url(/assets/viewer-bg.jpg) 0 0/100% 100% no-repeat;
}


